/* Add here all your css styles (customizations) */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.icon-spinner + select{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

/*
.fade-animation.ng-hide-add, .fade-animation.ng-hide-remove {
    transition: 1.5s linear all;
    display: block !important;
}

.fade-animation.ng-hide-remove {
    opacity: 0;
}

.fade-animation.ng-hide-remove.ng-hide-remove-active {
    opacity: .8;
}

.fade-animation.ng-hide-add {
    opacity: 0;
}

.fade-animation.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
*/

.fade-animation{
    transition: 1.5s linear all;
    display: block !important;
}

.ng-edmunds-carousel {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));

}
/*
.carousel-caption {
    position: relative;
    left: 0px;
    color: black;
}
*/

#review-container {
    position: relative;
    min-height: 500px;
}

#review-loading-data {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    top: 0px;
}

.review-data {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}




@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(2px, 2px) rotate(20deg);
    }
    20% {
        -webkit-transform: translate(-4px, -4px) rotate(-20deg);
    }
    40% {
        -webkit-transform: translate(2px, 2px) rotate(20deg);
    }
    60% {
        -webkit-transform: translate(-2px, 2px) rotate(-20deg);
    }
    80% {
        -webkit-transform: translate(4px, -4px) rotate(20deg);
    }
    100% {
        -webkit-transform: translate(-2px, 2px) rotate(-20deg);
    }
}
.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.6s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-duration: 0.6;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes slowshow {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes slowshow {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.slow-show {
    -webkit-animation: slowshow 2s; /* Chrome, Safari, Opera */
    animation: slowshow 2s;
}




/* TOASTR */
#toast-container {
    position: absolute !important;
    z-index: 999999;
    top: 0px;
    /*overrides*/

}

.loading span {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.3);
}
.loading img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    width: 30px;
}