/* Add here all your css styles (customizations) */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.icon-spinner + select{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

/*
.fade-animation.ng-hide-add, .fade-animation.ng-hide-remove {
    transition: 1.5s linear all;
    display: block !important;
}

.fade-animation.ng-hide-remove {
    opacity: 0;
}

.fade-animation.ng-hide-remove.ng-hide-remove-active {
    opacity: .8;
}

.fade-animation.ng-hide-add {
    opacity: 0;
}

.fade-animation.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}
*/

.ng-edmunds-carousel {

    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));

}
/*
.carousel-caption {
    position: relative;
    left: 0px;
    color: black;
}
*/